<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.java.eams.mapper.AttendanceMapper">
    <resultMap id="AttendanceResultMap" type="edu.java.eams.domain.Attendance">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="attendanceDate" column="attendance_date"/>
        <result property="checkInTime" column="check_in_time"/>
        <result property="checkOutTime" column="check_out_time"/>
        <result property="workHours" column="work_hours"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getAll" resultMap="AttendanceResultMap">
        SELECT * FROM emp_attendance_record
    </select>
    <select id="getById" parameterType="long" resultMap="AttendanceResultMap">
        SELECT * FROM emp_attendance_record WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="edu.java.eams.domain.Attendance">
        INSERT INTO emp_attendance_record (user_id, user_name, attendance_date, check_in_time, check_out_time, work_hours, status, remark)
        VALUES (#{userId}, #{userName}, #{attendanceDate}, #{checkInTime}, #{checkOutTime}, #{workHours}, #{status}, #{remark})
    </insert>
    <update id="update" parameterType="edu.java.eams.domain.Attendance">
        UPDATE emp_attendance_record
        SET user_id=#{userId}, user_name=#{userName}, attendance_date=#{attendanceDate}, check_in_time=#{checkInTime}, check_out_time=#{checkOutTime}, work_hours=#{workHours}, status=#{status}, remark=#{remark}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="long">
        DELETE FROM emp_attendance_record WHERE id=#{id}
    </delete>
    <select id="getByCondition" resultMap="AttendanceResultMap">
        SELECT * FROM emp_attendance_record
        <where>
            <if test="employeeName != null and employeeName != ''">
                AND user_id IN (SELECT id FROM sys_user WHERE name LIKE CONCAT('%', #{employeeName}, '%'))
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
        LIMIT #{start}, #{size}
    </select>
    <select id="countByCondition" resultType="int">
        SELECT COUNT(*) FROM emp_attendance_record
        <where>
            <if test="employeeName != null and employeeName != ''">
                AND user_id IN (SELECT id FROM sys_user WHERE name LIKE CONCAT('%', #{employeeName}, '%'))
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
    </select>
    <select id="getByUserAndDate" resultMap="AttendanceResultMap">
        SELECT * FROM emp_attendance_record
        WHERE user_id = #{userId} AND attendance_date = #{attendanceDate}
    </select>
    <insert id="insertCheckInRecord">
        INSERT INTO emp_attendance_record (user_id, user_name, attendance_date, check_in_time, status)
        VALUES (#{userId}, #{userName}, #{attendanceDate}, #{checkInTime}, #{status})
    </insert>
    <insert id="insertCheckOutRecord">
        INSERT INTO emp_attendance_record (user_id, user_name, attendance_date, check_out_time, status)
        VALUES (#{userId}, #{userName}, #{attendanceDate}, #{checkOutTime}, #{status})
    </insert>
    <update id="updateCheckInTime">
        UPDATE emp_attendance_record SET check_in_time = #{checkInTime}
        WHERE id = #{id}
    </update>
    <update id="updateCheckOutTime">
        UPDATE emp_attendance_record SET check_out_time = #{checkOutTime}
        WHERE id = #{id}
    </update>
    <delete id="deleteByUserId">
        DELETE FROM emp_attendance_record WHERE user_id = #{userId}
    </delete>
</mapper> 
